{% extends "base.html" %}
{% block title %} TOP {% endblock %}
{% block body %}
    <h1>たけしまとめページ</h1>
    <div>
        <ul type="circle">
            <li>
                <a href="https://takeshid.hatenadiary.jp/">たけし備忘録 - はてなブログ</a>
            </li>
            <li>
                <a href="https://github.com/takeshiD">Github - takeshiD</a>
            </li>
             <li>
                <a href="https://qiita.com/takeshiD">Qiita - ダイアモンドたけし</a>
            </li>
        </ul>
    </div>
{% endblock %}
